### `Importing Libraries`

In [31]:
import pandas as pd #importing pandas
import sqlite3 as sql #importing sqlite3
import os #importing os

### `Rerive Data`

In [43]:
path = os.getcwd() #get current working directory
path = path.replace('notebooks', 'data/dialects_database.db') #replace notebooks with data
conn = sql.connect(path)
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)
print("We have the following tables in our database: \n", tables)

# Concatenate every table into a dataframe
dfs = {}
for table in tables['name']:
    query = "SELECT * FROM " + table + ";"
    dfs[table] = pd.read_sql(query, conn)
# Close the connection
conn.close()

We have the following tables in our database:
          name
0     id_text
1  id_dialect

In [44]:
dfs['id_dialect'].head() # First df

                    id dialect
0  1009754958479151232      LY
1  1009794751548313600      LY
2  1019989115490787200      LY
3  1035479791758135168      LY
4  1035481122921164800      LY

In [45]:
dfs['id_text'].head() # Second df

                    id                                               text
0  1009754958479151232  @toha_Altomy @gy_yah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ†. Ù„Ùˆ Ø§...
1  1009794751548313600  @AlmFaisal ğŸ˜‚ğŸ˜‚ Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ†!!!\nØ¨Ø³ Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© ...
2  1019989115490787200  @smsm071990 @ALMOGRBE ÙƒÙ„ 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±...
3  1035479791758135168  @AboryPro @lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ©. Ø§ÙˆÙ„Ø§...
4  1035481122921164800  @lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ Ù„ÙŠ ØªØ­Ø¨ÙŠÙ‡ Ø§...

In [46]:
df = pd.merge(dfs['id_dialect'], dfs['id_text'], on='id') # merge the two dataframes

In [47]:
df.head() # check the merged dataframe

,id,dialect,text
0,1009754958479151232,LY,@toha_Altomy @gy_yah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ†. Ù„Ùˆ Ø§...
1,1009794751548313600,LY,@AlmFaisal ğŸ˜‚ğŸ˜‚ Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ†!!!\nØ¨Ø³ Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© ...
2,1019989115490787200,LY,@smsm071990 @ALMOGRBE ÙƒÙ„ 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±...
3,1035479791758135168,LY,@AboryPro @lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ©. Ø§ÙˆÙ„Ø§...
4,1035481122921164800,LY,@lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ Ù„ÙŠ ØªØ­Ø¨ÙŠÙ‡ Ø§...

### `Save Raw Data`

In [51]:
os.chdir('..') # change directory to the parent directory
os.chdir('data') # change directory to the data directory
''' path of data directory: ../data '''
raw_data = df.to_csv('raw_data.csv', index=False) # save the dataframe as a csv file